@model IEnumerable<AddressBook.Models.ContactPerson>

@{
    ViewData["Title"] = "Adresář";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Hledání:
                <input data-toggle="tooltip" data-placement="right"
                       title="Zadejte část jména, celý email, nebo telefon (rozlišují se malá a velká písmena)"
                       type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Najdi" class="btn btn-default btn" />
                &nbsp;
                <a asp-action="Index">Zpět na celý seznam</a>
            </p>
        </div>
    </form>

    <table class="table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactAddresses)
                </th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ContactPerson contactPerson in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => contactPerson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(item => contactPerson.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(item => contactPerson.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(item => contactPerson.Phone)
                    </td>


                    @{
                        ContactAddress invAddress = null;
                        foreach (ContactAddress address in contactPerson.ContactAddresses)
                        {
                            invAddress = null;
                            if (address.AddressType == ContactAddress.AddressTypeEnum.Invoice)
                            {
                                invAddress = address;
                                break;
                            }
                        }
                        if (invAddress != null)
                        {
                            <td>
                                @invAddress.Street; @invAddress.City
                            </td>
                        }
                        else
                        {
                            <td>&nbsp;</td>
                        }
                    }
                    <td>
                        <a asp-action="ContactEdit" asp-route-id="@contactPerson.Id">Edit</a> |
                        <a asp-action="ContactDetail" asp-route-id="@contactPerson.Id">Detail</a> |
                        <a asp-action="ContactDelete" asp-route-id="@contactPerson.Id">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <p class="well-sm">
        <a class="btn btn-default" asp-action="ContactCreate">Přidat</a>
    </p>

</div>
